@import url(https://use.typekit.net/bxs7yqt.css);.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "usual", sans-serif;
}

.l-box {
  padding: 1em;
}

.home-hero {
  width: 100vw;
  height: 100vh;
  background-color: #F9BF3B;
}

.home-hero h1 {
  color: white;
  text-align: center;
}

.home-hero .logo-home {
  width: 75%;
}

.hero-text {
  color: white;
}

.hero-text h1 {
  font-weight: 400;
}

.info .info-tile h1 {
  font-size: 200%;
}

.info .info-tile.secondary {
  color: #c7c7c7;
}

.home-text {
  width: 100vw;
  background-color: white;
  text-align: center;
  color: #c4c4c4;
}

.home-text h1 {
  font-weight: 300;
  font-size: 150%;
}

.tiles {
  background-color: white;
}

.tiles .intro {
  text-align: center;
}

.spotlight .spotlight-tile {
  padding: 10em 0 10em 0;
}

.spotlight .spotlight-tile .text {
  position: relative;
  z-index: 10;
}

.spotlight .spotlight-tile .text h1 {
  font-size: 500%;
}

.spotlight .spotlight-tile .text.right > * {
  float: right;
}

.spotlight .spotlight-tile .text .bottom {
  position: absolute;
  bottom: 0;
}

.spotlight .spotlight-tile .iimage {
  z-index: 9;
}

.spotlight .spotlight-tile.black {
  background-color: black;
}

.spotlight .spotlight-tile.black .text {
  color: white;
}

.spotlight .spotlight-tile.blue {
  background-color: #19B5FE;
}

.spotlight .spotlight-tile.blue .text {
  color: white;
}

.spotlight .spotlight-tile.green {
  background-color: #2ECC71;
}

.spotlight .spotlight-tile.green .text {
  color: black;
}

.spotlight .spotlight-tile.grey {
  background-color: #F2F1EF;
}

.spotlight .spotlight-tile.grey .text {
  color: black;
}

/* tom */

.footer {
  background: black;
}

.footer article {
  padding: 15px;
  color: #ffffff;
}

