@import url(https://use.typekit.net/bxs7yqt.css);.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "europa", sans-serif;
}

.l-box {
  padding: 1em;
}

.home-hero {
  width: 100vw;
  height: 100vh;
  background-color: #F9BF3B;
}

.hero-text {
  color: white;
}

.hero-text h1 {
  font-weight: 400;
}

.home-text {
  width: 100vw;
  background-color: white;
}

.tiles {
  background-color: white;
}

.tiles .intro {
  text-align: center;
}

.spotlight .spotlight-tile {
  padding: 10em 0 10em 0;
}

.spotlight .spotlight-tile .text {
  z-index: 10;
}

.spotlight .spotlight-tile .text h1 {
  font-size: 500%;
}

.spotlight .spotlight-tile .iimage {
  z-index: 9;
}

.spotlight .spotlight-tile.black {
  background-color: black;
}

.spotlight .spotlight-tile.black .text {
  color: white;
}

.spotlight .spotlight-tile.blue {
  background-color: #22A7F0;
}

.spotlight .spotlight-tile.blue .text {
  color: white;
}

