
// Variables
@import "variables";

// Fonts
// Europa
@import url("https://use.typekit.net/bxs7yqt.css");

.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "usual", sans-serif;
}

.l-box {
    padding: 1em;
}



.home-hero {
    width: 100vw;
    height: 100vh;
    background-color: #F9BF3B;

    h1 {
        color: white;
        text-align: center;
    }

    .logo-home {
        width: 75%;
    }
}

.hero-text {
    color: white;
    h1 {
        font-weight: 400;
    }
}

.info {
    .info-tile {
        h1 {
            font-size: 200%;
        }

        &.secondary {
            color: #c7c7c7;
        }
    }
}

.home-text {
    width: 100vw;
    background-color: white;
    text-align: center;
    color: #c4c4c4;

    h1 {
        font-weight: 300;
        font-size: 150%;
    }
}

.tiles {
    background-color: white;

    .intro {
        text-align: center;
    }
}

.spotlight {
    .spotlight-tile {
        padding: 10em 0 10em 0;

        .text {
            position: relative;

            h1 {
                font-size: 500%;
            }
            z-index: 10;

            &.right > * {
                float: right;
            }

            .bottom {
                position: absolute;
                bottom: 0;
            }
        }

        .iimage {
            z-index: 9;
        }

        &.black {
            background-color: black;
            .text {
                color: white;
            }
        }

        &.blue {
            background-color: #19B5FE;
            .text {
                color: white;
            }
        }

        &.green {
            background-color: #2ECC71;
            .text {
                color: black;
            }
        }

        &.grey {
            background-color: #F2F1EF;
            .text {
                color: black;
            }
        }
    }
}

/* tom */

.footer{
  background: black;

  div{
    padding: 15px;
  }
}


@import "responsive";
