
// Variables
@import "variables";

// Fonts
// Europa
@import url("https://use.typekit.net/bxs7yqt.css");

.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "europa", sans-serif;
}

.l-box {
    padding: 1em;
}

.home-hero {
    width: 100vw;
    height: 100vh;
    background-color: #F9BF3B;
}

.hero-text {
    color: white;
    h1 {
        font-weight: 400;
    }
}

.home-text {
    width: 100vw;
    background-color: white;
    text-align: center;
    color: #c4c4c4;

    h1 {
        font-weight: 300;
        font-size: 150%;
    }
}

.tiles {
    background-color: white;

    .intro {
        text-align: center;
    }
}

.spotlight {
    .spotlight-tile {
        padding: 10em 0 10em 0;

        .text {
            h1 {
                font-size: 500%;
            }
            z-index: 10;

            &.right > * {
                float: right;
            }
        }

        .iimage {
            z-index: 9;
        }

        &.black {
            background-color: black;
            .text {
                color: white;
            }
        }

        &.blue {
            background-color: #22A7F0;
            .text {
                color: black;
            }
        }
    }
}

@import "responsive";
